extends layout

block content
  .mx-auto.p-3.alert-info.border.border-info.rounded.shadow.clearfix
    div
      #map.map-container.d-inline-block(value=mapCoord)
      .weather-container.d-inline-block
        form#address-form.form-inline.container.mb-2.mx-auto
          input#zip.form-control.col-6(type='text' placeholder='Address')
          input.btn.btn-info.col-2.pl-1(type='submit' value='Search')
          .btn-group.col-3.pl-1
            button#iss-now.btn.btn-info(type='button') Find ISS
            button.btn.btn-info.dropdown-toggle.dropdown-toggle-split(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            .dropdown-menu.dropdown-menu-right
              h6.dropdown-header ISS Passtimes
              button.dropdown-item(type="button" data-toggle="modal" data-target="#passtimesModal") Next 5 passes here
              .dropdown-divider
              h6.dropdown-header Manage Landmarks
              button.dropdown-item(type="button" data-toggle="modal" data-target="#add-landmark") Add one
              button.dropdown-item(type="button" data-toggle="modal" data-target="#remove-landmark") Remove one
              .dropdown-divider
              h6.dropdown-header Choose a landmark
              #landmark-buttons
                each lm in landmarks
                  button.dropdown-item(type="button")= lm.name
                    span.d-none= `${lm.coord.lat} ${lm.coord.lng} ${lm._id}`
        .rounded.border.border-dark.bg-info.text-dark.text-left.w-100.p-3
          h4.text-center Local Weather
          ul#weather-tab.nav.nav-tabs.mx-2(role='tablist')
            li.nav-item
              a#current-weather-tab.nav-link.alert-info.active(data-toggle='pill' href='#current-weather' role='tab' aria-controls='current-weather' aria-selected='true') Current
            li.nav-item
              a#weather-forecast-tab.nav-link.alert-info(data-toggle='pill' href='#weather-forecast' role='tab' aria-controls='weather-forecast' aria-selected='false') Forecast
            .btn-group.btn-group-toggle.ml-auto(data-toggle="buttons")
              label(class=classTemp.f) F&deg;
                input(type="radio" name="imperial" autocomplete="off")
              label(class=classTemp.c) C&deg;
                input(type="radio" name="metric" autocomplete="off")
          #weather-tab-content.tab-content.bg-white.rounded
            #current-weather.tab-pane.fade.show.active.px-3.py-2(role='tabpanel' aria-labelledby='current-weather-tab')
              p.lead.text-center.text-capitalize.mb-1= current.description
                img(src=current.imgSrc alt=current.description + ' icon')
              p.font-weight-bold !{current.tempText}
              p= current.windText
              p= current.cloudText
            #weather-forecast.tab-pane.fade(role='tabpanel' aria-labelledby='weather-forecast-tab')
              ul#forecast-content.list-group.list-group-flush.rounded
                each item in forecast
                  li.forecast-li.list-group-item
                    .d-inline-block.alert-info.rounded.p-0
                      img(src=item.imgSrc alt=item.imgAlt + ' icon')
                    .d-inline-block.pl-1
                      span !{item.text}
  include includes/passtimeModal
  include includes/addLandmarkModal
  include includes/removeLandmarkModal
